.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.row-gap-0_5 {
  row-gap: 0.5em;
}

.row-gap-1_2 {
  row-gap: 1.2em;
}

.column-gap-0_8 {
  column-gap: 0.8em;
}

.column-gap-1_5 {
  column-gap: 1.5em;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}
