@import 'card.css';
@import 'color-chart.css';
@import 'create.css';
@import 'flex.css';
@import 'layout.css';
@import 'nav.css';
@import 'profile.css';
@import 'svg.css';
@import 'tag.css';

* {
  box-sizing: border-box;
}

button {
  background-color: var(--action-color);
}

[data-name='pages']:not(.__visible) {
  display: none;
}
