nav {
  background-color: var(--header-footer-color);
}

nav svg {
  width: 4em;
}

nav a {
  text-decoration: none;
}

nav a:hover svg {
  fill: var(--hover-color);
}

.link-home path {
  d: var(--svg-home);
}

.link-bookmarks path {
  d: var(--svg-bookmark);
}

.link-create path {
  d: var(--svg-create);
}

.link-profile path {
  d: var(--svg-profile);
}

.link-home.__active path {
  d: var(--svg-home-filled);
}

.link-bookmarks.__active path {
  d: var(--svg-bookmark-filled);
}

.link-create.__active path {
  d: var(--svg-create-filled);
}

.link-profile.__active path {
  d: var(--svg-profile-filled);
}
