@import "button.css";
@import "color-chart.css";
@import "flex.css";
@import "layout.css";
@import "nav.css";
@import "svg.css";
@import "tag.css";

* {
  box-sizing: border-box;
}

.profile-image {
  width: 30vw;
  border: 2px solid var(--border-color);
  border-radius: 5%;
}

.profile-image path {
  d: var(--svg-blank-user-image);
}

.skills {
  margin-bottom: 3em;
}
