:root {
  --main-color: aquamarine;
  --action-color: red;
}

* {
  box-sizing: border-box;
}

header {
  background-color: var(--main-color);
}

nav {
  background-color: var(--main-color);
}

nav svg {
  width: 4em;
}

nav a {
  text-decoration: none;
}

nav a:hover svg {
  fill: var(--action-color);
}

main {
  flex-grow: 1;
  padding: 1em 2em;
  overflow-y: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.row-gap-1_2 {
  row-gap: 1.2em;
}

.column-gap-0_8 {
  column-gap: 0.8em;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-around {
  justify-content: space-around;
}

.body-wrapper {
  height: 100vh;
  margin: -8px;
}

.card {
  position: relative;
  border: 2px solid black;
  border-radius: 1em;
  padding: 1em;
}

.bookmark {
  position: absolute;
  top: -1.2em;
  right: 1em;
  width: 3em;
}

.bookmark svg {
  position: absolute;
}

.bookmark svg.link-bookmarks-active {
  fill: white;
}

.bookmark.marked svg.link-bookmarks-active {
  fill: black;
}

.tag {
  border: 1px solid black;
  border-radius: 50vh;
  padding: 0.1em 0.5em;
}

.link-home-active path {
  d: path("M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z");
}

.link-home-inactive path {
  d: path(
    "M12 5.69L17 10.19V18H15V12H9V18H7V10.19L12 5.69M12 3L2 12H5V20H11V14H13V20H19V12H22"
  );
}

.link-bookmarks-active path {
  d: path("M17,3H7A2,2 0 0,0 5,5V21L12,18L19,21V5C19,3.89 18.1,3 17,3Z");
}

.link-bookmarks-inactive path {
  d: path(
    "M17,18L12,15.82L7,18V5H17M17,3H7A2,2 0 0,0 5,5V21L12,18L19,21V5C19,3.89 18.1,3 17,3Z"
  );
}

.link-create-active path {
  d: path(
    "M20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18,2.9 17.35,2.9 16.96,3.29L15.12,5.12L18.87,8.87M3,17.25V21H6.75L17.81,9.93L14.06,6.18L3,17.25Z"
  );
}

.link-create-inactive path {
  d: path(
    "M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z"
  );
}

.link-profile-active path {
  d: path(
    "M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z"
  );
}

.link-profile-inactive path {
  d: path(
    "M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2M7.07,18.28C7.5,17.38 10.12,16.5 12,16.5C13.88,16.5 16.5,17.38 16.93,18.28C15.57,19.36 13.86,20 12,20C10.14,20 8.43,19.36 7.07,18.28M18.36,16.83C16.93,15.09 13.46,14.5 12,14.5C10.54,14.5 7.07,15.09 5.64,16.83C4.62,15.5 4,13.82 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,13.82 19.38,15.5 18.36,16.83M12,6C10.06,6 8.5,7.56 8.5,9.5C8.5,11.44 10.06,13 12,13C13.94,13 15.5,11.44 15.5,9.5C15.5,7.56 13.94,6 12,6M12,11A1.5,1.5 0 0,1 10.5,9.5A1.5,1.5 0 0,1 12,8A1.5,1.5 0 0,1 13.5,9.5A1.5,1.5 0 0,1 12,11Z"
  );
}
